body{
    background: coral;
    margin: 0rem;
    padding: 0rem;
    font-size: 16px;
}

.logo{
    display:flex;
    justify-content: center;
}

#menu{
    background: #FFF;  
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width:100%;   
}
#menu ul{
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    width: 100%;
}

#menu ul li {
    display: inline-block;    
}

#menu a {
    font-family: Arial;
    font-size: 0.875rem;
    color: black;
    text-decoration:none;
    display:block;
    padding: 0.75rem 1.9375rem;
    text-transform: uppercase;
}

#menu a:hover{
    color:crimson;
    background: rgba(0,0,0,0.2);
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(min(100%, 28rem), 1fr));
    background-color: black;        
    gap: 1rem;
    width: 40%;
    height: fit-content;
    margin: 0 auto;
}






.contacto {
    margin-top: 10%;
    margin-right:5%;
    text-align: right;
    font-family: Arial;
    font-size: 14px;
    color: white;

}
img[alt~="EstásHipnotizadoUuUUUu"] {
    width:100%;
    

}
    
#foot{
    background: black;  
    position:static;
  
}

#foot ul{
    list-style: none;
    margin:0;
    padding: 0;
    text-align: center;
    border-top: 1.5px solid white;
    border-bottom: 1.5px solid white;
    }

.social {
    display: inline-block;
}

.social a{
    font-family: Arial;
    font-size: 0.875rem;
    color: white;
    text-decoration:none;
    display:block;
    padding: 1.875rem 1.9375rem;
    text-transform: uppercase;
}

.social a:hover{
    color:crimson;
    background: lightgray;
}

